*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    /*align-items: center;*/
    margin: auto;
    width: 95%;
}

header{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;


}

header button{
    border: none;
    background: none;
    color: #b3b3b3;
}

header div button:hover{
    color: black;
}

header div{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.login-button{
    background-color: #00ba5d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px
}


.section1{
    display: flex;
    gap: 15px;
}

.section1 .left{
    display: flex;
    flex-direction: column;
    width: 200%;
    gap: 10px;

}

.section1 .left .top img{
    width: 100%;
}

.section1 .left .bottom{
    background: #f5f5f5;
    border-top: 3px solid #002798;
    padding: 30px 20px;

}

.section1 .left .bottom h2{
    margin-bottom: 18px;
}

.section1 .left .bottom p{
    margin-bottom: 6px;
}
.section1 .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section1 .right .top h1{
    color: #00d5ec;
    margin: 10px 0px;
}

.section1 .right .bottom{
    display: flex;
    border: 2px solid #eaeaea;
    gap: 30px
}

.section1 .right .bottom div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
}

.section1 .right .bottom h3{
    font-weight: normal;
}

.section1 .right .bottom p{
    font-size: 14px;
    font-weight: 100;

}

.section1 .right .bottom button{
    background: none;
    padding: 6px 8px;
    border: 2px solid #00d5ec;

}

.section2{
    display: flex;
    width: 100%;
    gap: 35px;
}

.section2 .left{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    flex-shrink: 0;
    gap: 15px;
}

.section2 .left img{
    width: 100%;
    margin-bottom: 15px;
}

.section2 .right{
    display: flex;
    align-items: baseline;
    gap: 15px;
    width: 40%;
    flex-direction: column;
}

.section2 .right h2{
    width: 80%;
    align-items: baseline;
    font-weight: 600;
    border-bottom: 1px solid #c6c6c6;

}

.section2 .right ol{
    list-style-type: disc;
    padding-left: 40px;
}

.section2 .right ol li{
    margin-bottom: 4px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #bababa;
    height: 140px;
}

footer h3{
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
}