        body{
            background: linear-gradient(135deg, #f6d97a, #f2b81e);
            height:100vh;

        }
        form{
            background-color: white;
            width: fit-content;
            text-align: center;
            margin: 100px auto;
            border-radius: 10px;
            padding: 30px 80px 80px 80px;
            box-shadow:  1px 1px 10px 10px rgba(0, 0, 0, 0.17);
        }
        h1{
            color: #ee9c00;
            font-size: 40px;
        }
        input{
            display: block;
            margin: 0px 0px 20px 0px;
            padding: 15px;
            padding-left: 180px;
            border-color: #d1d1d1;
            border-radius: 5px;
            border-width: 1px;


        }
        input:hover{
            background-color: rgba(128, 128, 128, 0.1);
        }

        button{
            color: white;
            background-color: orange;
            border-color: transparent;
            padding: 0px 150px;
            border-radius: 5px;
            font-size: 20px;
            margin-top: 20px;

        }

        button:hover{
            background-color: #cd8300;
        }
        p{
            color: grey;
            font-size: 14px;
        }
        a{
            display:inline;
            margin-top:10px;
            margin-right: 5px;
            font-size:14px;
            color: #d88b00;
            text-decoration:none;
        }
        a:hover{
            color: #985f00;
        }