body{
    background-color:#f2f2f2;
    font-family: sans-serif;
}

form{
    background-color:#ffffff;
    width:400px;
    margin:50px auto;
    padding:20px;
    border-radius:5px;
}

h2{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:10px;
    font-weight:bold;
}

input, select, textarea{
    width:100%;
    margin-top:5px;
    padding:6px;
}

button{
    width:100%;
    margin-top:20px;
    padding:10px;
    background-color:#00bcd4;
    color:white;
    font-size: 16px;
    border:none;
}

button:hover{
    background-color: #0098ad;
}

.aks{
    border:solid rgba(0, 0, 0, 0.44) 1px;
    padding: 7px;
}