    body{
        background:#ffffff;
        font-family: sans-serif;

    }

    .container{
      width:900px;
      margin:30px auto;
    }

    h1{
      margin-bottom:10px;
    }

    .section-title{
      background:#cfe0f1;
      padding:6px;
      font-weight:bold;
      color:#1a4f7a;
      margin-top:20px;
      font-family: tahoma;
      font-size: 18px;
    }

    .blue{
      color:#1a73e8;
    }

    table{
      border-collapse:collapse;
      font-size:14px;
    }

    .courses{
      margin-top:10px;
      width:90%;
    }

    .courses th,
    .courses td{
      border:1px solid #000;
      padding:4px 6px;
    }

    .courses th{
      background:#f5f5f5;
    }

    .right{
      vertical-align:top;
      padding-left:30px;
    }

    input{
      margin-bottom:5px;
      width:120px;
    }

    button{
      margin-top:5px;
    }